.button {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    min-width: 200px;
    min-height: 64px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .button {
        font-size: 14px;
        line-height: 21px;
        min-width: 165px;
        min-height: 50px;
    }
}

.slideshow__controls {
    position: absolute !important;
    right: 160px;
    bottom: 80px;
    border: none !important;
}

.slideshow__controls .slider-button {
    display: none;
}

.slider-counter__link {
    padding: 4px !important;
}

.slider-counter__link--dots .dot {
    width: 8px !important;
    height: 8px !important;
    background-color: #fff;
    border: none !important;
    border-radius: 4px !important;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff !important;
    border: none !important;
    width: 24px !important;
}

@media (max-width: 768px) {
    .slideshow__controls {
        bottom: 20px;
        left: 50%;
        right: 50%;
    }
}

.free-shipping-text p, .free-shipping-icon {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.free-shipping-text p {
    display: flex;
}

@media (max-width: 768px) {
    .free-shipping-text p {
        justify-content: center;
    }
}

.card__link-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gp-image {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
}

.gp-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-collection {
    border-radius: 14px;
    background-color: #E7E5E2;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.card-collection__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #000000;
    margin: 0;
    min-height: 72px;
}

.card-collection__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-top: 1px solid;
    padding-top: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.card-collection__link::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card-collection__link-icon {
    display: flex;
    justify-self: center;
    align-items: center;
}

.card-collection.no-image {
    background-color: #1A1A1A;
}

.card-collection.no-image .card-collection__heading, .card-collection__icon {
    text-align: center;
}

.card-collection.no-image .card-collection__heading, .card-collection.no-image .card-collection__link {
    color: #F3F1EE;
}

.slider-buttons:not(.slideshow__controls) {
    display: none !important;
}

.collection-list-wrapper .title-wrapper-with-link {
    justify-content: center;
}

@media (min-width: 750px) {
    .card-collection:hover {
        transition: 0.3s;
        transform: scale(1.02);
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 749px) {
    .collection-list {
        padding: 45px 0;
    }

    .collection-list-wrapper .title-wrapper-with-link {
        margin-bottom: 0;
    }
}

.featured-product-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-product__text, .featured-product__image {
    width: 50%;
}

.featured-product__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    opacity: 0.7;
    font-weight: 400;
}

.featured-product__title {
    font-size: 50px;
    line-height: 75px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400;
}

.featured-product__description {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
}

.featured-product__button {
    margin-top: 50px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

.featured-products-slider .swiper-button-prev {
    left: 20%;
}

.featured-products-slider .swiper-button-next {
    left: calc(20% + 60px);
    right: auto;
}

.featured-products-slider .swiper-button {
    top: auto;
    bottom: 10px;
}

@media (max-width: 768px) {
    .featured-products-slider .swiper-button-prev {
        left: auto;
        right: calc(50% + 20px);
    }
    
    .featured-products-slider .swiper-button-next {
        left: calc(50% + 20px);
        right: auto;
    }

    .featured-product-item {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .featured-product__text, .featured-product__image {
        width: 100%;
    }

    .featured-product__subtitle {
        margin-top: 25px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .featured-product__title {
        margin-top: 12px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }

    .featured-product__description {
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .featured-product__button {
        margin-top: 25px;
        text-align: center;
    }
}

.card__subheading {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    color: #000000;
    margin: 0;
}

.card__heading {
    font-size: 20px;
    line-height: 30px;
    margin-top: 3px;
    margin-bottom: 0;
    letter-spacing: 0px;
}

.card-information .pirce {
    margin-top: 3px;
    color: #000000;
}

.card-information .pirce-item {
    font-size: 20px;
    line-height: 30px;
}

.card__button {
    margin-top: 25px;
}

.card__button .button {
    font-size: 14px;
    line-height: 21px;
    text-transform: none;
    min-width: 140px;
    min-height: 40px;
    background-color: #111827;
}

.card__heading a:after {
    display: none;
}

.button::before, .button::after {
    display: none !important;
}

@media (min-width: 750px) {
    .button:hover {
        transform: scale(1.02) !important;
    }
}

.icon-with-text {
    display: flex;
    justify-content: space-between;
}

.iwt--item {
    width: 20%;
}

.iwt-icon {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iwt-header {
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
    font-weight: 400;
}

.iwt-text {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 768px) {
    .icon-with-text {
        flex-wrap: wrap;
    }
    
    .iwt--item {
        width: 50%;
        padding: 5px;
    }

    .iwt-icon {
        padding: 10px;
    }

    .iwt-header {
        font-size: 16px;
        line-height: 24px;
    }

    .iwt-text {
        font-size: 12px;
        line-height: 18px;
    }
}

.review-serction-header {
    font-size: 50px;
    line-height: 65px;
    margin-top: 0;
    margin-bottom: 80px;
}

.review-list {
    display: flex;
}

.review-item {
    display: flex;
    background-color: #E7E5E2;
    border-radius: 15px;
    overflow: hidden;
    max-width: 720px;
}

.review-image, .review-text {
    width: 50%;
}

.review-text {
    padding: 65px 30px;
}

.review-header {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    color: #000;
}

.review-star {
    margin: 10px 0 40px;
}

.review-star img {
    max-width: 100%;
    height: auto;
}

.review-description {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.review-button {
    margin-top: 70px;
}

@media (max-width: 768px) {
    .review-serction-header {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 24px;
    }

    .review-item {
        flex-wrap: wrap;
    }

    .review-image, .review-text {
        width: 100%;
    }

    .review-image .gp-image {
        padding-bottom: 35% !important;
    }

    .review-text {
        padding: 10px 15px;
    }

    .review-header {
        font-size: 16px;
        line-height: 24px;
    }

    .review-star {
        width: 62px;
        margin: 0 0 10px;
    }

    .review-description {
        font-size: 12px;
        line-height: 18px;
    }

    .review-button {
        margin-top: 40px;
        text-align: center;
    }
}

.button--outline {
    color: #F3F1EE;
    border: 1px solid;
    background-color: transparent;
}

.button--outline:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    border-color: #000;
}

.about-us {
    background-color: #1A1A1A;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}

.about-us-text {
    width: 70%;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
}

.about-us-image {
    width: 30%;
}

.about-us-header {
    font-size: 50px;
    line-height: 65px;
    margin: 0;
    margin-bottom: 33px;
    color: #fff;
}

.about-us-description {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.about-us-logo {
    margin: auto 0 0;
    color: #B9011D;
    font-size: 30px;
}

@media (max-width: 768px) {
    .about-us {
        flex-direction: column-reverse;
    }

    .about-us-text, .about-us-image {
        width: 100%;
    }

    .about-us-text {
        padding: 24px;
    }

    .about-us-header {
        font-size: 16px;
        line-height: 1;
        margin-bottom: 0;
    }

    .about-us-description {
        font-size: 12px;
        line-height: 18px;
    }

    .about-us-logo {
        font-size: 11px;
        line-height: 1;
        margin-top: 0;
    }

    .about-us-image .gp-image {
        padding-bottom: 50% !important;
    }
}

@media (min-width: 750px) {
    .footer .grid--4-col-tablet .grid__item {
        width: calc(20% - 15px);
    }

    .footer .grid--4-col-tablet .grid__item:first-of-type {
        width: calc(40% - 15px);
    }
}

.newsletter-form__field-wrapper .field__input {
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
}

.template--collection .card__heading {
    font-weight: 400;
}

.template--collection .price-item {
    font-weight: 600;
}

@media (max-width: 768px) {
    .template--collection .card__subheading {
        font-size: 8px;
        line-height: 12px;
    }

    .template--collection .card__heading {
        font-size: 12px;
        line-height: 18px;
    }

    .template--collection .price-item {
        font-size: 12px;
        line-height: 18px;
    }

    .template--collection .card__button .button {
        font-weight: 600;
    }
}

.image-with-text__media, .multicolumn-card-spacing {
    border-radius: 15px !important;
    overflow: hidden !important;
}

.multicolumn-card-spacing {
    margin: 0 !important;
    padding: 0 !important;
}

.contact .field__input {
    background-color: #d9d9d9;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 26px;
    border-radius: 12px;
}

.contact .field__input::placeholder {
    color: #222;
}

.contact .text-area {
    min-height: 180px;
}

.contact .button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    min-width: 200px;
    min-height: 40px;
    text-transform: uppercase;
    background-color: #111827;
    border-radius: 6px;
}

.contact-header {
    max-width: 510px;
    margin: 0 auto 100px;
}

.contact-header .title {
    color: #111827;
}

.contact-header .rte {
    font-size: 20px;
    line-height: 30px;
    color: #6d7280;
}

.contact-title {
    color: #111827;
    font-size: 60px;
    line-height: 84px;
}

.contact-description {
    font-size: 20px;
    line-height: 30px;
    color: #6d7280;
}

.contact-info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.contact-info__content, .contact-info__image {
    width: 50%;
}

.contact-info__image {
    border-radius: 15px;
    overflow: hidden;
}

.contact-info__item {
    max-width: 480px;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    border-bottom: 1px solid #E5E7EB;
}

.contact-info__item:last-of-type {
    border-bottom: none;
}

.contact-info__item p {
    margin: 3px 0;
}

@media (max-width: 768px) {
    .contact-header {
        margin-bottom: 75px;
    }

    .contact-info-wrapper {
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    .contact-info__content, .contact-info__image {
        width: 100%;
    }

    .contact-info__image {
        margin-bottom: 20px;
    }

    .contact-title, .contact-header .title {
        font-size: 30px;
        line-height: 38px;
    }

    .contact-description, .contact-header .rte {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-info__item {
        text-align: center;
    }
}

.section--header {
    max-width: 50rem;
    margin: 0 auto;
}

.section--header.large-width {
    max-width: 59rem;
}

.section--heading {
    font-size: 50px;
    line-height: 70px;
    color: #111827;
}

.section--description {
    font-size: 20px;
    line-height: 30px;
    color: #6d7280;
}

@media (max-width: 768px) {
    .section--heading {
        font-size: 36px;
        line-height: 38px;
    }
    
    .section--description {
        font-size: 16px;
        line-height: 24px;
    }
}

.faq-list {
    max-width: 80rem;
    margin: 80px auto 0;
}

.faq-question {
    font-size: 18px;
    line-height: 27px;
    color: #111827;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F4F6;
    border: 1px solid #E5E7EB;
    cursor: pointer;
}

.faq-input {
    display: none !important;
}

.faq-input:not(:checked) ~ .faq-answer {
    display: none;
}

.faq-question svg {
    transition: 0.3s;
}

.faq-input:checked ~ .faq-question svg {
    transform: rotate(180deg);
}

.faq-answer {
    border: 1px solid #E5E7EB;
    border-top: none;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 32px;
}

@media (max-width: 768px) {
    .faq-question {
        font-size: 16px;
        line-height: 24px;
    }
    
    .faq-answer {
        font-size: 12px;
        line-height: 18px;
    }
}

.payment-list {
    display: flex;
    max-width: 1240px;
    margin: 50px auto 0;
}

.payment-item {
    width: 32%;
    margin-left: 2%;
    background-color: #fff;
    padding: 45px;
    border-radius: 15px;
    text-align: center;
}

.payment-item:first-of-type {
    margin: 0;
}

.payment-text {
    font-size: 24px;
    line-height: 36px;
}

@media (max-width: 768px) {
    .payment-list {
        flex-wrap: wrap;
    }

    .payment-item {
        width: 100%;
        margin-top: 20px;
    }

    .payment-text {
        font-size: 20px;
        line-height: 30px;
    }

    .image-with-text__content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.page--warranty .section--header {
    max-width: 65rem;
}

.page--warranty  .section--description p {
    margin: 0;
}

.search__input.field__input {
    border-bottom: 1px solid;
}

.search-button {
    padding: 5rem 0;
}

.search-button .button {
    font-size: 16px;
    line-height: 24px;
    color: #E7E5E2;
    text-transform: none;
    padding: 18px 60px;
    background-color: #4C4C4C;
}

.customer .field input {
    border: 1px solid #F7F8F9;
    background-color: #E8ECF4;
    font-size: 14px;
    line-height: 17px;
    padding: 18px;
}

.customer .field input::placeholder {
    color: #8391A1;
}

.customer .field {
    position: relative;
}

.customer .field svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.customer a {
    font-size: 14px;
    line-height: 21px;
    color: #6A707C;
    font-weight: 500;
}

.customer button {
    text-transform: none;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #4C4C4C;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
}

.customer button::before, .customer button::after {
    display: none;
}

.customer h1 {
    color: #222222;
}

.customer .field {
    flex-direction: column;
}

.empty-order {
    max-width: 55rem;
    margin: 5rem auto;
}

.empty-order .section--heading {
    margin: 20px 0;
}

.empty-order .button {
    padding: 16px 45px;
    text-decoration: none;
    background-color: #757575;
    color: #fff;
    min-height: 0;
    margin-top: 50px;
}

.order-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order-nav a {
    font-size: 32px;
    line-height: 52px;
    color: #1A1A1A;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 5px solid #4C4C4C;
}

.order-nav a:not(.active) {
    border-color: transparent;
}

@media (max-width: 768px) {
    .order-nav a {
        font-size: 16px;
        line-height: 35px;
        border-width: 4px;
    }
}

.addresses .field input, .addresses .field select {
    padding: 12px 26px;
    color: #000000;
    background-color: #D9D9D9;
    border: none;
    border-radius: 12px;
    height: auto;
}

.addresses .field input::placeholder {
    color: #222222;
}

.addresses button {
    width: auto;
    background-color: #111827;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 70px;
}

.addresses form > .center {
    text-align: center;
}

.addresses .two-basis {
    box-sizing: border-box;
    flex-basis: calc(50% - 1rem);
}

.shopify-policy__container {
    max-width: var(--page-width)!important;
    padding: 100px 50px;
}

.shopify-policy__title {
    color: #111827;
    font-size: 50px;
    line-height: 70px;
}

.shopify-policy__body {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .shopify-policy__title {
        font-size: 36px;
        line-height: 50px;
    }
    
    .shopify-policy__body {
        margin-top: 50px;
    }

    .shopify-policy__container {
        padding: 50px 20px;
    }
}

.page--mauals .section--header, .page--review-center .section--header {
    margin-left: 0;
}

.page--mauals .section--header *, .page--review-center .section--header * {
    text-align: left;
}

.download-grid {
    display: flex;
    flex-wrap: wrap;
}

.download-product {
    display: block;
    text-decoration: none;
}

.download-item {
    width: calc(25% - 15px);
    margin-left: 15px;
    margin-bottom: 75px;
}

.download-type {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #1A1A1A;
}

.download-title {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    color: #000000;
    min-height: 60px;
    font-weight: 600;
}

.download-item:nth-of-type(4n+1) {
    margin-left: 0;
}

.download-image {
    margin: 30px 0;
}

.download-button .button {
    font-size: 16px;
    line-height: 24px;
    padding: 18px 35px;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .download-item {
        width: calc(50% - 10px);
    }

    .download-item:nth-of-type(2n+1) {
        margin-left: 0;
    }

    .download-type {
        font-size: 8px;
        line-height: 12px;
    }
    
    .download-title {
        font-size: 12px;
        line-height: 18px;
        min-height: 36px;
    }

    .download-image {
        margin: 20px 0;
    }
    
    .download-button .button {
        font-size: 8px;
        line-height: 12px;
        padding: 10px 20px;
    }
}

.product__breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumb, .breadcrumb a {
    font-size: 12px;
    line-height: 18px;
    color: #1A1A1A;
    text-decoration: none;
}

.proudct__type {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    text-transform: capitalize;
}

.product__info-wrapper .price .price-item {
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
}

.product__info-wrapper .price__regular .price-item--regular {
    color: #B9011D;
}

.product__info-container .product__description {
    margin: 0 !important;
    padding: 2.5rem 0 1rem;
    border-top: 1px solid rgba(26, 26, 26, 0.12);
}

.product-form__input {
    margin: 0 !important;
    display: inline-block;
    margin-right: 10px !important;
}

.product-form__quantity .form__label {
    font-size: 16px;
    line-height: 24px;
    color: rgba(26, 26, 26, 0.7);
    margin-bottom: 15px;
}

.quantity__button, .quantity__input {
    color: #000000 !important;
}

.quantity::before, .quantity::after {
    display: none;
}

.quantity {
    border: 1px solid rgba(26, 26, 26, 0.12);
    border-radius: 24px;
}

.product-form__submit {
    border: 1px solid #000000;
    color: #1A1A1A;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-transform: none;
    min-height: 0;
    display: inline-block;
    width: calc(100% - 160px);
    margin-bottom: 0 !important;
}

.shopify-payment-button {
    margin-top: 16px;
}

.accordion summary svg {
    transform: rotate(90deg);
    transition: 0.3s;
}

.accordion summary[aria-expanded="true"] svg {
    transform: rotate(270deg);
}

.product__info-container .product-form {
    margin-top: 0 !important;
}

.product__info-container .thumbnail {
    border-radius: 8px;
}

@media (max-width: 768px) {
    .icon-with-text__item svg {
        width: 10px;
    }

    .icon-with-text__item span {
        font-size: 10px;
    }

    .product__media-icon {
        top: auto !important;
        left: auto !important;
        bottom: 1.2rem !important;
        right: 1.2rem !important;
    }
}

.product-video-text {
    position: absolute;
    width: 100%;
    max-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.product-video-text__header {
    font-size: 36px;
    line-height: 54px;
    margin: 0;
    color: #FFFFFF;
}

.product-video-text__content {
    font-size: 16px;
    line-height: 24px;
}

.video-play, .video-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-pause {
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 5;
    top: 20px;
    right: 20px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.3);
}

.product-video:not(.active) {
    display: none;
}

.product-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.product-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 768px) {
    .product-video-text__header {
        font-size: 24px;
        line-height: 36px;
    }
}

.iwt--header {
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 0;
}

.product-iwt--item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product-iwt--item.reverse {
    flex-direction: row-reverse;
}

.iwt--image, .iwt--text {
    width: 50%;
}

.iwt--text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.iwt--text__header {
    font-size: 36px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
}

.iwt--text__content {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.iwt--image {
    padding-bottom: 32%;
    height: 0;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.iwt--image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .product-iwt--item {
        flex-direction: column !important;
        margin-top: 30px;
    }

    .iwt--header {
        font-size: 24px;
        line-height: 36px;
    }

    .iwt--text__header {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 0;
    }

    .iwt--text__content {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .iwt--image, .iwt--text {
        width: 100%;
    }

    .iwt--image {
        padding-bottom: 64%;
    }

    .iwt--text {
        padding: 10px 0;
    }
}