.button {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    min-width: 200px;
    min-height: 64px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .button {
        font-size: 14px;
        line-height: 21px;
        min-width: 165px;
        min-height: 50px;
    }
}

.slideshow__controls {
    position: absolute !important;
    right: 160px;
    bottom: 80px;
    border: none !important;
}

.slideshow__controls .slider-button {
    display: none;
}

.slider-counter__link {
    padding: 4px !important;
}

.slider-counter__link--dots .dot {
    width: 8px !important;
    height: 8px !important;
    background-color: #fff;
    border: none !important;
    border-radius: 4px !important;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff !important;
    border: none !important;
    width: 24px !important;
}

@media (max-width: 768px) {
    .slideshow__controls {
        bottom: 20px;
        left: 50%;
        right: 50%;
    }
}